/* Source: https://gist.github.com/inky/187274 */
body {
  background: #fff;
  color: #000;
  font: 300 1em/1.5 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 3em 0 3em 2em;
}
main h1, main h2 {
  font-family: 'Gill Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  text-transform: uppercase;
}
main h1 {
  font-size: 1.2em;
  line-height: 1.25;
  margin: 0 0 2.5em;
}
main h2 {
  color: #444;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 1.5em;
}
.group {
  float: left;
  margin: 0 2em 3em 0;
  width: 18em;
}
main ol {
  color: #bbb;
  list-style-type: katakana;
  margin: 0 0 0 2em;
  padding: 0;
}
main ol li {
  padding-left: 1em;
  text-indent: -1em;
}
main a {
  -webkit-transition:
    color 0.25s ease-out,
    border 0.25s ease-out;
}
main a:link, main a:visited {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
  border-left: 0 solid #fff;
  border-right: 1em solid #fff;
}
main a:hover, main a:active {
  color: #444;
  border-right-width: 0;
  border-left-width: 1em;
  border-bottom-color: #444;
}
main .updated a:link, main .updated a:visited {
  color: #d00;
}
main .updated a:hover, main .updated a:active {
  color: #444;
}
main h1 a {
  font-weight: 400 !important;
  border-bottom-width: 0 !important;
}
.meta {
  color: #888;
  font-size: 0.9em;
  line-height: 1;
  margin-left: 0.5em;
}
.clear {
  clear: both;
}